<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Reloj Examen</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="relojExamen_controller.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <link href="relojExamen.css" rel="stylesheet">

    </head>
    <body ng-app="rEApp" ng-controller="rECtrl">

        <h1 class="well well-victor well-lg" id="titulo">Reloj para exámenes | {{asignatura}}</h1>
        <div title="Pulse para ocultar o mostrar el formulario" id="ocultar"><span id="iconMostrar" class="glyphicon glyphicon-backward" aria-hidden="true"></span><span id="datos"></span></div>
        <div class="well well-lg" id="divIzquierda">
            <form name="f1" id="f1" action="./" method="GET"  title="Pulse para modificar">
                <h3><label for="Asignatura">Asignatura:</label>
                    <input type="text" 
                           ng-model="asignatura"
                           id="Asignatura" 
                           name="Asignatura" 
                           value="" 
                           size="50"></h3>
                <h3><label for="Titulacion">Titulación:</label>
                    <input type="text" 
                           ng-model="titulacion"
                           id="Titulacion" 
                           name="Titulacion" 
                           value="" 
                           size="50"></h3>
                <h3><label for="Fecha"
                           title="Introduzca la fecha con formato dd-mm-aaaa o escriba simplemente 'hoy'">Fecha:</label>
                    <input type="text" 
                           id="Fecha" 
                           ng-model="fecha"
                           name="Fecha" 
                           value="" 
                           size="10" 
                           placeholder="dd-mm-aaaa"
                           title="Introduzca la fecha con formato dd-mm-aaaa o escriba simplemente 'hoy'"></h3>
                <h3><label for="Aulas">Aulas:</label>
                    <input type="text" 
                           ng-model="aulas"
                           id="Aulas" 
                           name="Aulas" 
                           value="" 
                           size="30"></h3>
                <h3><label for="HoraInicio"
                           title="Introduzca la hora de inicio con formato hh:mm o escriba simplemente 'ahora'">Hora inicio:</label>
                    <input type="text" 
                           id="HoraInicio" 
                           ng-model="horaInicio"
                           name="HoraInicio" 
                           value="" 
                           size="10" 
                           placeholder="hh:mm"
                           title="Introduzca la hora de inicio con formato hh:mm o escriba simplemente 'ahora'"></h3>
                <h3><label for="HoraFin"
                           title="Introduzca la hora de final con formato hh:mm o escriba el número de minutos que dura el examen, p.ej.: 90">Hora fin:</label>
                    <input type="text" 
                           id="HoraFin" 
                           ng-model="horaFin"
                           name="HoraFin" 
                           value="" 
                           size="10"
                           title="Introduzca la hora de final con formato hh:mm o escriba el número de minutos que dura el examen, p.ej.: 90"
                           placeholder="hh:mm ">
                    <select 
                        name="Ahora" 
                        id="Ahora"
                        ng-model="ahora">
                        <option value="">&lt; Edite o seleccione</option>
                        <option value="60">Ahora +1h</option>
                        <option value="90">Ahora +1h30m</option>
                        <option value="120">Ahora +2h</option>
                        <option value="150">Ahora +2h30m</option>
                        <option value="180">Ahora +3h</option>
                        <option value="210">Ahora +3h30m</option>
                        <option value="240">Ahora +4h</option>
                    </select>
                </h3>
                <h3><label for="Comentarios">Comentarios:</label>
                    <textarea id="Comentarios" 
                              ng-model="comentarios"
                              name="Comentarios" 
                              cols="45"></textarea>
                </h3>
                <div style="text-align: right;">
                    <input type="Submit" 
                           ng-model="actualizar"
                           class="btn btn-primary" 
                           value="Actualizar">
                    <input type="Reset" 
                           ng-model="limpiar"
                           class="btn btn-primary" 
                           value="Limpiar"></div>
            </form>
        </div>
        <div id="divDerecha">
            <div class="HoraActual">Son las 
                <span id="HoraActual" ng-model="horaActual">{{hora()}}</span> horas</div>
            <div id="Quedan"></div>
            <div class="progress" style="width: 70%; margin: 0 auto;">
                <div class="progress-bar" 
                     role="progressbar" 
                     id="PorcProgress" 
                     aria-valuenow="0" 
                     aria-valuemin="0" 
                     aria-valuemax="100" 
                     style="min-width: 2em;">
                    <span id="Porcentaje">{{porcentaje}}</span>%
                </div>
            </div>
            <h3><span id="MostrarComentarios">{{comentarios}}</span></h3>
        </div>
    </body>

</html>